<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    数据:<input id="dataId" name="dataName">
    流程ID:<input id="taskId" name="taskId">
    type:<input id="type" name="type">
<button type="button" id="btn_start" onclick="click111()">这是启动流程的id</button>
<button type="button" id="btn_hisProcess" onclick="getHis()">这是查询历史的</button>
<button type="button" id="btn_expert" onclick="click222()" th:background="red">这是执行流程的id</button>
</body>

<script th:src="@{/jquery/jquery-3.3.1.js}"></script>
<script type="text/javascript">
    function click111() {
        debugger;
        var data = {
            "dataId" : document.getElementById("dataId").value,
            "taskId" : document.getElementById("taskId").value,
            "type" : document.getElementById("type").value
        }
        $.ajax({
            type: "post",
            url :"/processes/startProcess",
            data: data
        })
    }
    function click222() {
        var data = {
            "dataId" : document.getElementById("dataId").value,
            "taskId" : document.getElementById("taskId").value,
            "type" : document.getElementById("type").value
        }

        $.ajax({
            type: "post",
            url :"/processes/executeProcess",
            data: data
        })
    }
    function getHis(){
        window.location.href = "/processes/getHisTask";
    }

</script>
</html>